h1 {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 40px;
}

h2 {
    text-align: center;
    padding-bottom: 20px;
}

.login-buttons {
    padding-bottom: 25px;
    text-align: center;
}

.boxed {
    border: 2px solid black;
    border-radius: 20px;
}

a:link {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 15px;
}

a:visited {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 15px;
}


/* Teacher Page Styles */

#homework-upload {
    width: 250px;
    height: 300px;
    border: 2px solid black;
    margin: 20px;
    float: left;
    text-align: center;
    font-weight: bold;
}

#homework-title {
    font-size: 20px;
}

#quiz-upload {
    width: 250px;
    height: 300px;
    border: 2px solid black;
    margin: 20px;
    float: left;
    text-align: center;
    font-weight: bold;
}

#quiz-title {
    font-size: 20px;
    padding: 20px 0px 20px 0px;
}

#project-upload {
    width: 250px;
    height: 300px;
    border: 2px solid black;
    margin: 20px;
    float: left;
    text-align: center;
    font-weight: bold;
}

#project-title {
    font-size: 20px;
    padding: 20px 0px 20px 0px;
}

#test-upload {
    width: 250px;
    height: 300px;
    border: 2px solid black;
    margin: 20px;
    float: left;
    text-align: center;
    font-weight: bold;
}

#test-title {
    font-size: 20px;
    padding: 20px 0px 20px 0px;
}

.teacher-buttons {
    font-weight: bold;
    font-size: 15px;
    margin-left: 20px;
}


/* Student Page Styles */
#School-Work-Box {
    width: 400px;
    height: 300px;
    border: 2px solid black;
    float: left;
    margin: 5px;
    text-align: center;
}

#Quest-Box {
    width: 400px;
    height: 300px;
    border: 2px solid black;
    float: right;
    margin: 5px;
    text-align: center;
}

#School-Work-Para {
    font-size: 20px;
    font-weight: bold;
}

#Quest-Para {
    font-size: 20px;
    font-weight: bold;
}

/* Multiple Files */
.login-button {
    text-align: center;
    margin: 30px 30px 30px 30px;
}